Зачет
qwe.html
Zadanie2_Kurnakov_3282.txt
Zadanie3_Kurnakov_3282.txt
Zadanie4_Kurnakov_3282.txt
Zadanie5_Kurnakov_3282.txt
Zadanie8_Kurnakov_3282.lnk
Zadanie9_Kurnakov_3282.lnk
Zadanie6_Kurnakov_3282/Zadanie6_Kurnakov_3282.zip