body {
	background-color: #008f1f;
	color: white;
}

.register_block {
	background-color: black;
	text-align: center;
}

input[type='submit'] {
	color: white;
	background-color: black;
	padding: 15px 40px;
	border: none;
	font-size: 20px;
	font-weight: bold;
}
input[type='submit']:hover {
	background-color: white;
	color: black;
}

form {
	background: #ffffff;
	min-width: 640px;
}

.person {
	width: 300px;
	vertical-align: top;

	float: left;

	text-align: center;
}

.account {
	vertical-align: top;
	text-align: justify;
	text-indent: 20px;

	display: inline-block;

	width: 300px;
	text-align: center;
}

.other {
	width: 400px;
	vertical-align: top;
	text-align: center;
	font-style: italic;
	font-size: 18px;

	float: right;

	top: 0;

	display: inline-block;
}
